@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
			<input type="hidden" id="id" value="${item.id}">
            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="orders" name="排序序号" value="${item.orders}" />
                            <#input id="parent" name="父节点" value="${item.parent}" underline="true"/>
                            <#input id="code" name="检查项的显示序号，例如1；1.1；1.2.1；" value="${item.code}" underline="true"/>
                </div>

                <div class="col-sm-6">
                            <#input id="deprecate" name="是否废弃，0-不废弃；1-废弃" value="${item.deprecate}" underline="true"/>
                            <#input id="item" name="检查项每条详情内容" value="${item.item}" underline="true"/>
                            <#input id="memo" name="备注" value="${item.memo}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ExamineInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ExamineInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/store/examine/examine_info.js"></script>
@}
